*{
  margin: 0;
  padding: 0;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
.header {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  z-index: 100;
}
ul{
  list-style-type: none;
}
a{
  text-underline-offset: none;
  color: #0ef;
}
.navbar-brand {
  position: relative;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  transition: .3s;
  transition: .10s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.6s * var(--i));
}

.navbar a:hover {
  color: #0ef;
}

.home {
  position: relative;
  justify-content: space-between;
  color: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 70px 10% 0;
}
#home{
  border: 0px solid transparent;
  background: transparent;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  animation: slideBottom ease forwards;
  animation-delay: .7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h3:nth-of-type(2) {
  /* margin-bottom: 30px; */
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

.home-content h1 {
  font: 56px;
  font-weight: 700;
  margin-left: 6rem;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  animation: slideLeft 1s ease forwards;
  text-align: justify;
}

.home-link a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  color: #0ef;
  text-decoration: none;
  transition: .5s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));

  margin: 30px 15px 30px 0;
}

.home-link a:hover {
  background-color: #0ef;
  color: #001b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
      0 0 25px #0ef
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 200px cyan
}

.home{
  background-color: transparent;
}
/*  */
.about{
  display: flex;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#about{
  margin-bottom: 7%;
}
.about-text h2{
  font-size: 60px;
}
.about-text h2 span{
  color: #0ef;
}
.about-text h4{
  font-size: 29px;
  font-weight: 600;
  line-height: 1.7;
}
.about-text p{
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#services{
  font-size: 20px;
  width: 100%;
  line-height: 1.4;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}
.sub-tittle{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}


.services-list{
  display: flex;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;

}
@media (min-width: 768px) {
  .services-list {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .services-list {
    display: block;
    margin-bottom: 20px;
  }
}

.services-list div{
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  margin-left: 5%;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px #012290f7,
              1px 1px 40px #141f43f7
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;;
}
.services-list div a{
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.read{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #001b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px rgb(9, 5, 235);
  
}
.read_me{
  display: inline-block;
  padding: 2px 18px;
  margin-left: 10%;
  border-radius: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px rgb(251, 248, 248);
}
.read_me:hover{
  background-color: white;
  color: black;
}
span{
  color: #0ef;
  font-size: 70%;
}
.read:hover {
  box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 25px cyan,
      0 0 10px cyan, 0 0 20px cyan
}
.services-list div:hover{
  transform: translatey(-10px);
}

/* exper */
.resume .func {
  width: 100%;
}

.container .row   .technical_skills:hover > div {
  transition-duration: 0.5s;
}
.container .row   .technical_skills:hover > div {
  transform: scale(1);
}
.container .row   .technical_skills:hover > div {
  opacity: 0.5;
}

.resume .func:hover > div {
  transition-duration: 0.5s;
}

.resume .func:hover > div:hover h3 i {
  transform: scale(1.25);
}

.resume .func:hover > div:not(:hover) {
  opacity: 0.5;
}

.resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}

.container .row   .technical_skills h1 i {
  background: #010100;
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
  box-shadow: 0 0 5px cyan,
        0 0 5px cyan, 0 0 5px rgb(210, 231, 25),
        0 0 5px rgb(8, 8, 8), 0 0 20px cyan
}

.resume .func h3 i {
  background: #060400;
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
  box-shadow: 0 0 5px cyan,
        0 0 5px cyan, 0 0 5px rgb(210, 231, 25),
        0 0 5px rgb(8, 8, 8), 0 0 20px cyan
}

.resume .func .work,
.resume .func .edu {
  float: left;
}


.resume .func .work small,
.resume .func .edu small {
  display: block;
  opacity: 0.7;
}

.resume .func .work ul li,
.resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}
.container .row   .technical_skills h1 i:hover{
 border: 3px solid #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  left: 3px;
  z-index: 1;
}
.resume .func .work ul li:hover::before,
.resume .func .edu ul li:hover::before {
  -webkit-animation: circle 1.2s infinite;
          animation: circle 1.2s infinite;
}

.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
  color: #fdd835;
}

@-webkit-keyframes circle {
  from {
    box-shadow: 0 0 0 0px #fdd835;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #fdd835;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}
.resume .func .work ul li:first-of-type::before,
.resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}

.resume .func .work ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}

.resume .func .work ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}

.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}



.resume .func .work ul li::after,
.resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: #ffffff;
  left: 5px;
  top: 0;
}

.resume .func .work ul li span,
.resume .func .edu ul li span {
  transition-duration: 0.3s;
}


.resume {
  width: 100%;
  display: flex; 
}  


.resume .base,
.resume .func {
  box-sizing: border-box;
  float: left;
}

.resume .func > div {
  padding-bottom: 10px;
}

.resume .base > div:last-of-type,
.resume .func > div:last-of-type {
  padding-bottom: 0;
}



.resume .base .follow .box {
  text-align: center;
  vertical-align: middle;
}

.resume .base .follow .box a {
  display: inline-block;
  vertical-align: text-bottom;
}

.resume .base .follow .box a:hover i {
  transform: rotate(45deg) scale(0.8);
}

.resume .base .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}

.resume .base .follow .box i {
  display: inline-block;
  font-size: 30px;
  width: 80%;
  border-radius: 50%;
  line-height: 60px;
  color: #eac20f;
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}

.resume .base .follow .box i::before {
  transition-duration: 0.3s;
}

.resume .base .follow .box i.fa::before {
  display: block;
}

.resume .func .work,
.resume .func .edu {
  float: left;
}

.resume .func .work small,
.resume .func .edu small {
  display: block;
  opacity: 0.7;
}

.resume .func .work ul li,
.resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  width: 100%;
}

.resume .func .work ul li:hover::before,
.resume .func .edu ul li:hover::before {
  -webkit-animation: circle 1.2s infinite;
          animation: circle 1.2s infinite;
}

.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
  color: #fdd835;
}

@-webkit-keyframes circle {
  from {
    box-shadow: 0 0 0 0px #fdd835;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #fdd835;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}
.resume .func .work ul li:first-of-type::before,
.resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}

.resume .func .work ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}

.resume .func .work ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}

.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}

.resume .func .work ul li::before,
.resume .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid #ffffff;
  background: #ffb300;
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}

.resume .func .work ul li::after,
.resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: #ffffff;
  left: 5px;
  top: 0;
}

.resume .func .work ul li span,
.resume .func .edu ul li span {
  transition-duration: 0.3s;
}

.resume .func .work {
  width: 100%;
}

.resume .func .interests {
  margin: 15px 0 0;
  padding: 15px;
}

.resume .func .interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.resume .func .interests-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.resume .func .interests-items div:hover i {
  transform: scale(1.2);
}

.resume .func .interests-items div:hover span {
  color: #fdd835;
  transition-duration: 0.3s;
}

.resume .func .interests-items div i {
  font-size: 45px;
  line-height: 60px;
  color: #ffb300;
  transition-duration: 0.3s;
}

.resume .func .interests-items div span {
  display: block;
}
/* cv */
.base .profile .info
{
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

section{
  flex-wrap: wrap;
  display: flex;
}


.radial-bars{
  width: 30%;
  display: inline-table;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}
.technical_skills .progress-title:hover > div:hover h3 i {
  transform: scale(1.25);
}


.resume .func .skills-soft {
  clear: both;
  display: inline-table;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.resume .func .skills-soft ul {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.resume .func .skills-soft ul li {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 0;
  
}
li {
  list-style: none;
  position: sticky;
  top: 0;
}

.resume .func .skills-soft ul li:hover svg .cbar {
  stroke: #fdd835;
  stroke-width: 4px;
}

.resume .func .skills-soft ul li:hover span,
.resume .func .skills-soft ul li:hover small {
  transform: scale(1.2);
}

.resume .func .skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}

.resume .func .skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: #ffffff;
}

.resume .func .skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: #0fdcf3;
  stroke-linecap: round; 
}

.resume .func .skills-soft ul li span,
.resume .func .skills-soft ul li small {
  position: absolute;
  display: block;
  top: 52%;
  transition-duration: 0.3s;
}

.resume .func .skills-soft ul li span {
  top: 30%;
}


.radial-bars .radial-bar{
 width: 100%;
 height: 170px;
 margin-bottom: 10px;
 position: relative;
}
.radial-bars .radial-bar svg{
  position: absolute;
  fill: #0ef;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
.radial-bars .radial-bar .progress-bar{
  stroke-width: 10;
  stroke: #0519f5;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
  100%{
      stroke-dashoffset: -1;
  }
}

.path{
  stroke-width: 10;
  stroke: rgba(244, 248, 6, 0.881);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}
.path-5{animation: animate-path5 1s 1s linear forwards;}
.path-6{animation: animate-path6 1s 1s linear forwards;}

@keyframes animate-path1{
  100%{
      stroke-dashoffset: 50;;
  }
}
@keyframes animate-path2{
  100%{
      stroke-dashoffset: 175;;
  }
}
@keyframes animate-path3{
  100%{
      stroke-dashoffset: 125;;
  }
}
@keyframes animate-path4{
  100%{
      stroke-dashoffset: 75;;
  }
}
@keyframes animate-path5{
  100%{
      stroke-dashoffset: 122;;
  }
}
@keyframes animate-path6{
  100%{
      stroke-dashoffset: 177;;
  }
}


.radial-bars .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes showText{
  100%{
      opacity: 1;
  }
}

.radial-bars .radial-bar .text{
      position: absolute;
      width: 10rem;
      top: 50%;
      left: 50%;
      transform: translate(-10%, -150%);
      text-align: justify;
  }







/* 



} */


/* css progre */




@keyframes slideRight {
  0% {
      transform: translateX(-100px);
      opacity: 1;
  }

  100% {
      transform: translateX(-100px);
      opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}

@keyframes slideTop {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

.card{
  position: relative;
  width: 30vh;
  height: 30vh;
}
.card .rating{
  position: relative;
  width: 100%;
  height: 100%;
}
.card .rating .block{
  position: absolute;
  width: 2px;
  height: 15px;
  background: #fff;
  left: 50%;
  transform-origin: 50% 100px;
  opacity: 0;
  animation: animate 0.1s linear forwards;
}
@keyframes animate{
  to{
      opacity: 1;
  }
}
.card .rating .block:nth-child(-n+75){
  background: #0f0;
  box-shadow: 0 0 15px #0f0, 0 0 30px #0f0;
}
.card .rating h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
}
.card .rating h2 span{
  font-size: 2.5em;
  font-weight: 500;
}
.card .rating h2 sup {
  font-size: 1.2em;

}




/* portfolio */
.main-text{
  padding: 130px;
}
.main-text h2{
  font-size: 60px;
  line-height: 1;
  text-align: center;
  color: white;
}
.main-text h2 span{
  color: #0ef;
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}

.row{
  margin-top: 10%;
  cursor: pointer;
}
.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0,1), #0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5{
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p{
  color: wheat;
  font-size: 1rem;
  line-height: 1.8;
}
.layer i{
  color: red;
  margin-top: 20px;
  font-size: 20px;
  background: #081b29;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img{
  transform: scale(1.1);
}
.row:hover .layer{
  height: 100%;
}


/* contact form */
.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding: 30px;
}
.contact-text h2{
  font-size: 90px;
  line-height: 1;
  text-align: center;
  color: white;
}
.contact-text h2 span{
  color: #0ef;
}
.contact-text h4{
  margin: 15px 0;
  color: #0f0;
  font-size: 20px;
  font-weight: 600;
}
.contact-text p{
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list{
  margin-bottom: 10px;
  display: block;
}
.contact-list li{
  margin-bottom: 10px;
  display: block;
}
.contact-list i{
  display: inline-block;
  color: #0ef;
  font-size: 600;
  transition: all .50s ease;
}
.contact-list li a:hover{
  transform: scale(1.01) translate(-5px);
  color: #0519f5;
}
.contact-icons i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--1));
}
.contact-icons i:hover{
  background: #0519f5;
  color: #fff;
  box-shadow: 0 0 20px #0ef;
}
.contact-form{
  position: relative;
}
.contact-form form input, form textarea{
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: white;
  color: rgb(4, 4, 4);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea{
  resize: none;
  height: 220px;
}
.contact-form form .send{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  width: 20%;
  border-radius: 40px;
  font-size: 16px;
  color: #001b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px rgb(9, 5, 235);
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 25px yellow,
      0 0 10px rgb(7, 7, 7), 0 0 20px cyan
}

/* up btn */
.last-text{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-weight: 300;
  margin-top: 70px;
}
.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}
.top i {
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border-radius: 0.5rem;

}
.bxs-chevrons-up:hover{
  font-size: 2rem;
}
span{
  font-size: 100%;
}



.progress-title h3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-title h3 i {
  font-size: 24px;
  margin-right: 10px;
}

.progress {
  height: 5px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: visible;
  position: relative;
}

.progress .progress-bar {
  border-radius: 20px;
  animation: animate-positive 2s;
}

.progress .progress-value {
  width: 40px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  border-radius: 0 15px 15px 0;
  border-top: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: #1678d4;
  padding: 0 5px;
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}



.row #links .follow .box {
  text-align: center;
  vertical-align: middle;
}

.row #links .follow .box a {
  display: inline-block;
  vertical-align: text-bottom;
}

.row #links .follow .box a:hover i {
  transform: rotate(45deg) scale(0.8);
}

.row #links .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}

.row #links .follow .box i {
  display: inline-block;
  font-size: 30px;
  width: 80%;
  border-radius: 50%;
  line-height: 60px;
  color: #eac20f;
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}

.row #links .follow .box i::before {
  transition-duration: 0.3s;
}

.row #links .follow .box i.fa::before {
  display: block;
}

/* ----- FOOTER SECTION ----- */
    
.footer-area {
  justify-content: center;
  align-items: center;
  display: flex;
}



.footer-area .footer-bottom {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 25px 0;
  border-top: 1px solid var(--color-body);
}

.footer-area .footer-bottom .left {
  justify-content: center;
  align-items: center;
  display: flex;
}
/* 
.footer-area .footer-bottom .left .copyright-text {
  color: var(--color-gray-2);
}

.footer-area .footer-bottom .left .copyright-text a {
  color: var(--color-gray-2);
}

.footer-area .footer-bottom .right {
  flex-basis: 50%;
  text-align: right;
} */

.footer-area .footer-bottom .right .footer-bottom-link ul li {
  padding: 0 20px;
  display: inline-block;
  position: relative;
}

.footer-area .footer-bottom .right .footer-bottom-link ul li a {
  color: rgb(42, 142, 195);
  transition: var(--transition);
}

.footer-area .footer-bottom .right .footer-bottom-link ul li a:hover {
  color: green;
  position: relative;
}